//PARTIALS IMPORT
@import 'reset';

//FONT IMPORT
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

//VARIABLES
//colours
$very-dark-blue: hsl(233, 47%, 7%); // main background
$dark-blue: hsl(244, 38%, 16%); // card background
$soft-violet: hsl(277, 64%, 61%); // accents
$white: hsl(0, 0%, 100%); // main heading & stats
$slight-faded-white: hsla(0, 0%, 100%, 0.75); // main paragraph
$faded-white: hsla(0, 0%, 100%, 0.6); // stats headings

//fonts
$inter: 'Inter', sans-serif;
$lexend: 'Lexend Deca', sans-serif;

//font Size
$body-font-size: 1rem; // body font size
$heading-font-size: 2.4rem; // heading font size
$stats-font-size: 1.6rem; // stats font size
$stats-heading-font-size: 0.8rem; // stats heading font size

//STANDARD
body {
	background-color: $very-dark-blue;
	font-family: 'Inter', sans-serif;
	font-size: $body-font-size;
	color: $slight-faded-white;
}

h1 {
	font-family: $inter;
	font-size: $heading-font-size;
	line-height: 2.933rem;
	font-weight: 700;
	color: $white;
	margin-bottom: 1.666rem;

	@media screen and (max-width: 720px) {
		text-align: center;
		font-size: 1.866rem;
		line-height: 2.133rem;
	}
}

h3 {
	font-family: $inter;
	font-size: $stats-font-size;
	font-weight: 700;
	color: $white;

	@media screen and (max-width: 720px) {
		text-align: center;
	}
}

p.description {
	font-family: $inter;
	font-size: $body-font-size;
	font-weight: 400;
	line-height: 1.666rem;
	color: $slight-faded-white;
	padding-right: 5.333rem;

	@media screen and (max-width: 900px) {
		padding: 0px 0.666rem 0px 0;
	}

	@media screen and (max-width: 720px) {
		text-align: center;
	}
}

p.stats-title {
	font-family: $lexend;
	font-size: $stats-heading-font-size;
	line-height: 1.666rem;
	letter-spacing: 1px;
	color: $faded-white;
	text-transform: uppercase;

	@media screen and (max-width: 720px) {
		text-align: center;
	}
}

span.accents {
	color: $soft-violet;
	font-size: $heading-font-size;

	@media screen and (max-width: 720px) {
		text-align: center;
		font-size: 1.866rem;
	}
}

//CONTAINER
.container {
	margin: 0 auto;
	padding: 0;
	height: 100vh;
	max-width: 1440px;
	display: flex;
	justify-content: center;
	align-items: center;

	// @media screen and (max-width: 720px) {
	// 	flex-direction: column-reverse;
	// }
}

//CARD
.card {
	margin: 0 auto;
	padding: 0;
	width: 80%;
	height: 446px;
	background-color: $dark-blue;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.2);

	@media screen and (max-width: 1280px) {
		width: 90%;
	}

	@media screen and (max-width: 720px) {
		width: 80%;
		height: 85%;
		flex-direction: column-reverse;
	}
}

.content {
	padding: 0 4rem;
	display: flex;
	flex-direction: column;
	width: 50%;

	@media screen and (max-width: 1280px) {
		padding: 0px 0.666rem 0px 2.666rem;
	}

	@media screen and (max-width: 1024px) {
		padding: 0px 0.666rem 0px 2.666rem;
	}

	@media screen and (max-width: 900px) {
		padding: 0px 0.666rem 0px 2.666rem;
	}

	@media screen and (max-width: 720px) {
		width: 100%;
		padding: 4rem 2rem 0;
		height: 70%;
	}

	@media screen and (max-width: 375px) {
		width: 100%;
		padding: 4rem 1.1rem;
		height: 70%;
	}
}

.stats-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5.333rem;
	width: 100%;
	padding-right: 5.333rem;

	@media screen and (max-width: 900px) {
		padding: 0px 1.5rem 0px 0px;
	}

	@media screen and (max-width: 720px) {
		flex-direction: column;
		align-items: center;
		padding: 0;
		margin-top: 1.8rem;
	}

	@media screen and (max-width: 375px) {
		margin-top: 1.2rem;
	}
}

.stats-item {
	@media screen and (max-width: 720px) {
		padding: 1rem 0;
	}
}

.image {
	height: 100%;
	width: 50%;
	background-image: url(../images/image-header-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #ab5cdb;
	background-blend-mode: multiply;
	border-radius: 0px 8px 8px 0px;

	@media screen and (max-width: 1280px) {
		background-size: cover;
	}

	@media screen and (max-width: 720px) {
		width: 100%;
		background-image: url(../images/image-header-mobile.jpg);
		border-radius: 8px 8px 0px 0px;
		height: 30%;
	}
}
